/*h1 {
    color: purple;
    font-size: 32ch;
    text-align: center;
    font-weight: bolder;
    margin: 18%;
    border: 3px solid black;
    border-radius: 150px;
}

h1:hover {
    background-color: rgb(231, 231, 231);
}*/

